<!DOCTYPE html>
<html>
<head>
	<style>
	* {
		box-sizing: border-box;
		border: 1px solid blue;
	}
		#current_turn {
			box-sizing: border-box;
			border: 1px solid blue;
		}
	</style>
	<script src="/js/readData.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>
</head>

	{% for move in move_history %}
		{% if move[2] == 'pass' %}
			<script>
				addPassToData(
					'{{move[0]}}',
					'{{move[1]}}',
					'{{move[2]}}'
				)
			</script>
		{% else %}
			<script>
				addToData(
					'{{move[0]}}',
					'{{move[1]}}',
					'{{move[2]}}',
					'{{move[3]}}'
				)
			</script>
		{% endif %}
	{% endfor %}
<body>
	<div>
		<div id="current_turn"></div>

		<div>
			<canvas width="700px" height="700px" style="border: 2px groove silver; background-color: #ecb05e"></canvas>
		</div>
		<div>
			<form method="post" name="next_turn">
				<input type='hidden' name='move_to_add_db' value='' id="u_m">
				<button type='submit' id="submit_hoes_to_the_pimp" value='submit_move' name='subm'>Submit Move</button>
			</form>
		</div>
	</div>
</body>
</html>
<script>
setCurrentColor('{{player_info[1]}}');
</script>